/*

************************************
animations.css
************************************

	- Project:  cloud.skaut38
	- Author:   J. Humpl   
*/
@-webkit-keyframes slideFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes slideToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes boxOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes boxOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes boxTranslateY {
  0% {
    top: calc(100vh + 10vw);
  }
  100% {
    top: 0vh;
  }
}
@keyframes boxTranslateY {
  0% {
    top: calc(100vh + 10vw);
  }
  100% {
    top: 0vh;
  }
}
@-webkit-keyframes boxRotateX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes boxRotateX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@-webkit-keyframes boxRotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes boxRotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes boxRotateZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes boxRotateZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes appeare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appeare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appeare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes disappeare {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappeare {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flashHighlight {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(1.6);
  }
  30% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes flashHighlight {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(1.6);
  }
  30% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
