:root {
    --white-color:#fff;
    --black-color:#000;

    --main-bg-color: #fff;
    --main-fg-color: #000;
    --main-line-color: #00000020;

    --menu-bg-color: #ffffffb8;
    --interactive-color:var(--theme-color-3);
    --login-color-var:var(--theme-color-3);
    --interactive-color-complementary:var(--theme-color-3-complementary);
    --hyperlink-color: #1a4ed2;

    --general-font-size: 16px;
    --title-font-size:20px;

    --dir-border-radius: 4px;

    --main-spacing: 16px;

    --menu-input-font-size: 13px;
    --menu-a-font-size: 14px;
    --menu-border-radius: 10px;
    --menu-spacing: 6px;

    --side-grey-bg:#ededed;
    --side-grey-arrow:#aaaaaa;
    --side-bg-color:#ededed;
    --side-bg-color-2:#ffffff;
    --side-grey-light:#f2f2f2;

    --fluent-border-light:#ffffff99;
    --fluent-border-dark:#00000020;

    --theme-color-0:#8b2c33;
    --theme-color-1:#E63946;
    --theme-color-2:#1D3557;
    --theme-color-3:#457B9D;
    --theme-color-4:#A8DADC;
    --theme-color-5:#F1FAEE;
    --theme-color-6:#457B9D;
    --theme-color-7:#457B9D;
    --theme-color-8:#457B9D;
    --theme-color-9:#457B9D;
    --theme-color-10:#457B9D;
    --theme-color-11:#457B9D;

    --theme-color-0-complementary:#F1FAEE;
    --theme-color-1-complementary:#F1FAEE;
    --theme-color-2-complementary:#A8DADC;
    --theme-color-3-complementary:#A8DADC;
    --theme-color-4-complementary:#1D3557;
    --theme-color-5-complementary:#8b2c33;
    --theme-color-6-complementary:#F1FAEE;
    --theme-color-7-complementary:#F1FAEE;
    --theme-color-8-complementary:#F1FAEE;
    --theme-color-9-complementary:#F1FAEE;
    --theme-color-10-complementary:#F1FAEE;
    --theme-color-11-complementary:#F1FAEE;

    --toolbar-color-0:var(--theme-color-1);
    --toolbar-color-1:var(--theme-color-3);
    --toolbar-color-2:var(--theme-color-4);
    --toolbar-color-3:var(--theme-color-5);

    --toolbar-color-0-complementary:var(--theme-color-1-complementary);
    --toolbar-color-1-complementary:var(--theme-color-3-complementary);
    --toolbar-color-2-complementary:var(--theme-color-4-complementary);
    --toolbar-color-3-complementary:var(--theme-color-5-complementary);
}

html,
body {
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    min-height: 100%;
    top: 0;
    scroll-behavior: smooth;
    font-family: 'Nunito',
        sans-serif;
    font-weight: 400;
    font-size: var(--general-font-size);
    background: linear-gradient(340deg, var(--side-bg-color) 10%, var(--side-bg-color-2) 40%);
    background-attachment: fixed;
}

a {
    color: var(--hyperlink-color);
}

button {
    color: #000;
}

button,
a {
    cursor: pointer;
}

.fluent-bg {
    -webkit-backdrop-filter: saturate(4) blur(20px);
    backdrop-filter: saturate(4) blur(20px);
    background: var(--menu-bg-color) url(../img/noise.svg);
}

.dark-theme .fluent-bg {
    background: var(--menu-bg-color) url(../img/noise_dark.svg);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');