/*

************************************
responsive.css
************************************

	- Project:  cloud.skaut38
	- Author:   J. Humpl   
*/
@media only screen and (min-width: 450px) {
  .main-wrapper .toolbar-wrapper .toolbar .toolbar-button {
    max-width: unset;
    width: unset;
    height: calc(100% - 16px);
  }
  .main-wrapper .toolbar-wrapper .toolbar {
    height: 100%;
  }
  .main-wrapper .toolbar-wrapper .toolbar-icon-wrapper {
    height: 80px;
  }
  .main-wrapper .toolbar-wrapper {
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .main-wrapper .menu-wrapper {
    width: 330px;
  }
  .main-wrapper .window .window-side {
    padding: 30px calc(50% - 200px);
    box-sizing: border-box;
  }
}
@media (pointer: coarse) {
  .submenu-dots {
    display: block;
  }
}
@media screen and (max-width: 270px), screen and (max-height: 400px) {
  .screen-size-error {
    display: block;
  }
}
