.main-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-wrapper .window {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: filter 0.4s ease;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.main-wrapper.menu-open .window {
    position: relative;
    filter: contrast(0.3) brightness(1.8) saturate(0);
    overflow: hidden;
}

.main-wrapper .window .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid #909090;
    width: 100%;
    height: 43px;
    box-shadow: 0px 5px 10px #0000001c;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1;
    transition: height 0.4s ease;
}

.main-wrapper.top-bar-open .window .top-bar {
    height: 80px;
}

.main-wrapper .window .window-scroll {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-top: 43px;
    position: relative;
    transition: padding 0.4s ease;
}

.main-wrapper.top-bar-open .window .window-scroll {
    padding-top: 80px;
}

.main-wrapper .window .window-scroll .window-inner {
    padding: 15px;
    transition: transform 0.4s ease;
    pointer-events: all;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-wrapper.menu-open .window .window-scroll .window-inner {
    transform: scale(0.99);
    pointer-events: none;
}

.main-wrapper .window .window-scroll .window-inner .dir-box {
    position: relative;
    background-color: var(--dir-color);
    border: 4px solid var(--dir-color);
    margin: 8px;
    width: 127px;
    height: 120px;
    padding: 10px 20px 50px 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 800;
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--general-font-size);
    text-align: left;
    display: inline-flex;
    align-items: flex-start;
    /* flex-grow: 1;*/
}

.main-wrapper .window .window-scroll .window-inner .dir-box:focus {
    border: 4px solid var(--main-bg-color);
    box-shadow: 2px 6px 20px #00000070;
    outline: none;
}

.main-wrapper .menu-wrapper {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: var(--main-spacing);
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.main-wrapper .menu-wrapper .menu-spacer {
    position: relative;
    width: var(--menu-spacing);
    height: var(--menu-spacing);
}

.main-wrapper .menu-wrapper .menu-formbox {
    overflow: hidden;
    border-radius: var(--menu-border-radius);
    background-color: var(--menu-bg-color);
    backdrop-filter: blur(4px);
}

.main-wrapper.menu-open .menu-wrapper {
    transform: translateY(0);
}

.main-wrapper .menu-wrapper .menu-formbox form {
    display: none;
}

.main-wrapper .menu-wrapper .menu-formbox form.form-visible {
    display: block;
}

.main-wrapper .menu-wrapper .menu-formbox form .file-upload {
    position: relative;
}

.main-wrapper .menu-wrapper .menu-formbox form .file-upload input {
    display: none;
}

.main-wrapper .menu-wrapper .menu-formbox form .file-upload div {
    text-decoration: underline;
    color: var(--hyperlink-color);
    margin: 20px;
    display: block;
    font-size: var(--menu-a-font-size);
}

.main-wrapper .menu-wrapper .menu-formbox input {
    position: relative;
    padding: 30px 20px 10px 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    color: var(--main-fg-color);
    font-size: var(--menu-input-font-size);
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector label div {
    width: 16px;
    height: 16px;
    background-color: var(--circle-color);
    border: 4px solid var(--circle-color);
    display: block;
    border-radius: 50%;
    position: relative;
    margin: 5px;
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector label input {
    display: none;
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector label input:checked~div {
    border: 4px solid var(--main-bg-color);
    box-shadow: 3px 6px 14px #00000038;
}

.main-wrapper .menu-wrapper .menu-formbox input:focus {
    outline: none;
    background-color: #0000000f;
}

.main-wrapper .menu-wrapper .menu-formbox a {
    margin: 20px;
    display: block;
    font-size: var(--menu-a-font-size);
}

.main-wrapper .menu-wrapper .menu-button-wrapper {
    display: flex;
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button {
    border-radius: var(--menu-border-radius);
    background-color: var(--menu-bg-color);
    backdrop-filter: blur(4px);
    border: none;
    padding: 18px;
    flex-grow: 1;
    font-weight: 700;
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button-submit {
    background-color: #007fecb0;
    color: var(--main-bg-color);
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button:focus-visible {
    outline: none;
    filter: brightness(0.86);
}