.main-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-wrapper .window {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: filter 0.4s ease;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.main-wrapper.menu-open .window {
    position: relative;
    filter: contrast(0.3) brightness(1.8) saturate(0);

}

.main-wrapper .window .window-inner {
    padding: 30px;
    transition: transform 0.4s ease;
    pointer-events: all;
}

.main-wrapper.menu-open .window .window-inner {
    transform: scale(0.99);
pointer-events: none;
}

.main-wrapper .menu-wrapper {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: var(--main-spacing);
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.main-wrapper .menu-wrapper .menu-spacer {
    position: relative;
    width: var(--menu-spacing);
    height: var(--menu-spacing);
}

.main-wrapper.menu-open .menu-wrapper {
    transform: translateY(0);
}

.main-wrapper .menu-wrapper .menu-formbox {
    overflow: hidden;
    border-radius: var(--menu-border-radius);
    background-color: var(--menu-bg-color);
    backdrop-filter: blur(4px);
}

.main-wrapper .menu-wrapper .menu-formbox form {
    display: none;
}

.main-wrapper .menu-wrapper .menu-formbox form.form-visible {
    display: block;
}

.main-wrapper .menu-wrapper .menu-formbox .form-visible input {
    position: relative;
    padding: 36px 20px 10px 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    color: var(--main-fg-color);
    font-size: var(--menu-input-font-size);
}

.main-wrapper .menu-wrapper .menu-formbox .form-visible input:focus {
    outline: none;
    background-color: #0000000f;
}

.main-wrapper .menu-wrapper .menu-formbox .form-visible a {
    margin: 20px;
    display: block;
    font-size: var(--menu-a-font-size);
}

.main-wrapper .menu-wrapper .menu-button-wrapper {
    display: flex;
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button {
    border-radius: var(--menu-border-radius);
    background-color: var(--menu-bg-color);
    backdrop-filter: blur(4px);
    border: none;
    padding: 18px;
    flex-grow: 1;
    font-weight: 700;
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button-submit {
    background-color: #007fecb0;
    color:var(--main-bg-color);
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button:focus-visible {
outline: none;
filter: brightness(0.86);
}