.main-wrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.main-wrapper .window {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  -o-transition: filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
  background-attachment: fixed;
  color: var(--main-fg-color);
}

.main-wrapper .window::after {
  content: "";
  position: absolute;
  -webkit-transition: -webkit-backdrop-filter 0.4s;
  transition: -webkit-backdrop-filter 0.4s;
  -o-transition: backdrop-filter 0.4s;
  transition: backdrop-filter 0.4s;
  transition: backdrop-filter 0.4s, -webkit-backdrop-filter 0.4s;
}

.main-wrapper.menu-open .window::after {
  -webkit-backdrop-filter: contrast(0.2) brightness(1.55) saturate(2) blur(24px);
  backdrop-filter: contrast(0.2) brightness(1.55) saturate(2) blur(24px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-wrapper .window .top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #00000020;
  width: 100%;
  height: 43px;
  /*box-shadow: 0px 5px 10px #0000001c;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0.2s ease, transform 0.4s;
  -o-transition: height 0.2s ease, transform 0.4s;
  transition: height 0.2s ease, transform 0.4s;
  overflow: hidden;
}

.main-wrapper .window .top-bar .top-bar-line {
  position: relative;
  height: 40px;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-title {
  position: absolute;
  left: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 14px;
  width: 122px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-button {
  width: 48px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  padding: 6px 18px 0 14px;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-button svg {
  height: 10px;
}

.main-wrapper.top-bar-open .window .top-bar {
  height: 80px;
  max-width: 100vw;
}

.main-wrapper.top-bar-hide .window .top-bar,
.main-wrapper.menu-open .window .top-bar {
  transform: translateY(-100%);
}

.main-wrapper.top-bar-open .window .top-bar .top-bar-line .top-bar-button {
  opacity: 0;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-display {
  background-color: transparent;
  position: absolute;
  right: 16px;
  top: 0;
  height: calc(100% - 12px);
  width: 59px;
  border: none;
  padding: 0 8px;
  margin: 6px;
  cursor: pointer;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-switcher {
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 0;
  height: calc(100% - 12px);
  border: none;
  padding: 6px 8px;
  margin: 6px;
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
  font-size: 9pt;
  font-weight: 700;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-switcher div {
  display: inline-block;
  margin: 0px 6px;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-switcher::before {
  content: "";
  background-color: #00000020;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: calc(50% - 4px);
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
  border-radius: 4px;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-display div {
  height: 12px;
  position: relative;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-display::before {
  content: "";
  background-color: #00000020;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
  border-radius: 4px;
}

.main-wrapper.display-as-tiles
  .window
  .top-bar
  .top-bar-line
  .top-bar-display::before {
  left: 0%;
}

.main-wrapper .window .top-bar .top-bar-line .top-bar-display div svg path {
  fill: #000;
}

.main-wrapper .window .window-scroll {
  position: relative;
  left: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: calc(100px + env(safe-area-inset-bottom));
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: padding 0.4s ease, left 1s ease;
  -o-transition: padding 0.4s ease, left 1s ease;
  transition: padding 0.4s ease, left 1s ease;
}

.main-wrapper .window .window-scroll .window-inner {
  position: relative;
  min-height: 140px;
  top: 0;
  left: 0;
  padding: 28px;
  padding-top: 102px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease, -webkit-transform 0.4s ease;
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.main-wrapper.menu-open .window .window-scroll .window-inner {
  /*-webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);*/
  pointer-events: none;
}

.empty-flex-element {
  height: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  flex-grow: 1;
}

.main-wrapper .window .window-scroll .window-inner.blank-canvas {
  left: 0;
  opacity: 0;
}

.main-wrapper .window .window-scroll .window-inner.blank-canvas {
  left: 0;
  opacity: 0;
}

.main-wrapper .window .window-scroll .window-inner .dir-box {
  position: relative;
  background-color: var(--dir-color);
  border: 1px solid transparent;
  margin: 3px 4px;
  width: 100%;
  height: unset;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-weight: 800;
  border-radius: var(--dir-border-radius);
  cursor: pointer;
  font-size: var(--general-font-size);
  text-align: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-wrapper.display-as-tiles .window .window-scroll .window-inner .dir-box {
  margin: 4px;
  width: 127px;
  height: 120px;
  padding: 10px 20px 50px 10px;
}

.dir-box-animated {
  position: fixed;
  background-color: var(--dir-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  padding: 10px 20px 50px 10px;
  font-weight: 800;
  border-radius: 6px;
  font-size: var(--general-font-size);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  left: 0;
  top: 0;
  width: 100%;
  height: 140px;
}

.dir-box-expanded {
  border-radius: 0;
  padding: 14px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: var(--title-font-size);
}

.dir-header {
  position: absolute;
  background-color: var(--dir-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-weight: 800;
  left: 0;
  top: 0;
  width: 100%;
  height: 140px;
  border-radius: 0;
  padding: 14px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: var(--title-font-size);
}

.dir-header-spacer {
  position: relative;
  min-height: 70px;
  display: block;
  width: 100%;
  pointer-events: none;
}

.dir-box-return {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: var(--general-font-size);
  padding: 5px 0;
}

/*
.main-wrapper .window .window-scroll .window-inner .dir-box::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw + 100vh);
        height: calc(100vw + 100vh);
        background-color: inherit;
        opacity: 0.2;
        border-radius: 50%;
}*/

.main-wrapper .window .window-scroll .window-inner .dir-box:focus {
  /*border: 1px solid var(--main-fg-color); */
  /*outline: none; */
  /*filter: contrast(1.5);*/
}

.main-wrapper .window .window-scroll .window-inner .file-box-flex {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.submenu-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: var(--menu-border-radius);
  /*border-top-left-radius: 0;*/
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: left top;
  pointer-events: none;
  transition: transform 0.2s ease;

  border-left: 1px solid #ffffff99;
  border-top: 1px solid #ffffff99;
  border-right: 1px solid #00000020;
  border-bottom: 1px solid #00000020;
}

.submenu-wrapper.visible {
  transform: scaleY(1);
  pointer-events: all;
}

.submenu-dots {
  width: 30px;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.file-box .submenu-dots {
  filter: invert(1) contrast(0);
  bottom: 50%;
  transform: translateY(50%);
  right: 14px;
}

.display-as-tiles .file-box .submenu-dots {
  right: 38px;
  bottom: unset;
  top: 3px;
  filter: none;
}

.submenu-wrapper a {
  text-align: left;
  display: block;
  padding: 14px 16px;
  color: var(--main-fg-color);
  text-decoration: none;
  font-size: var(--menu-a-font-size);
  min-width: 100px;
  max-width: 100vw;
}

.submenu-wrapper a + a {
  border-top: 1px solid #00000020;
}

.submenu-wrapper a:hover {
  background-color: var(--interactive-color);
  color: var(--main-bg-color);
}

.dir-box-expanded .submenu-wrapper, .dir-box-expanded .submenu-dots, .dir-header .submenu-wrapper, .dir-header .submenu-dots {
  display: none;
}

.main-wrapper.display-as-tiles
  .window
  .window-scroll
  .window-inner
  .file-box-flex {
  width: unset;
}

.main-wrapper .window .window-scroll .window-inner .file-box {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 90px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: var(--dir-border-radius);
}

.main-wrapper.display-as-tiles .window .window-scroll .window-inner .file-box {
  width: 130px;
  height: 130px;
}

.file-box-flex + .file-box-flex {
  border-top: 1px solid #00000020;
}

.main-wrapper.display-as-tiles .file-box-flex + .file-box-flex {
  border: none;
}

.main-wrapper
  .window
  .window-scroll
  .window-inner
  .file-box-flex
  .file-box:focus {
  outline: none;
  /*border: 1px solid #00000050;*/
  border: none;
  background-color: var(--side-grey-bg);
}

.main-wrapper
  .window
  .window-scroll
  .window-inner
  .file-box-flex
  .file-box
  .file-icon {
  position: absolute;
  top: 50%;
  left: 20 px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: var(--menu-border-radius);
  background-color: #a8dadc;
}

.main-wrapper.display-as-tiles
  .window
  .window-scroll
  .window-inner
  .file-box-flex
  .file-box
  .file-icon {
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-wrapper
  .window
  .window-scroll
  .window-inner
  .file-box-flex
  .file-box
  .file-label {
  position: absolute;
  bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  top: 50%;
  width: calc(100% - 100px);
  left: 100px;
  transform: translateY(-50%);
  height: fit-content;
  text-align: left;
  mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(80%, black),
    to(transparent)
  );
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(80%, black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.main-wrapper.display-as-tiles
  .window
  .window-scroll
  .window-inner
  .file-box-flex
  .file-box
  .file-label {
  top: unset;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  transform: translateY(0%);
  text-align: center;
}

.main-wrapper .window .window-side {
  position: absolute;
  background: var(--side-grey-bg);
  min-height: 100vh;
  width: 100vw;
  padding: 30px;
  /* min-height: 100vh; */
  top: 0;
  left: 100%;
  pointer-events: none;
  transition: left 1s;
  /* transform: translateX(90%); */
}

.main-wrapper.side-open .window .window-scroll {
  /*animation: slideToLeft 1s both;*/
  left: -100%;
}

.main-wrapper.side-open .window .window-side {
  /*animation: slideFromRight 1s both;*/
  left: 0%;
  width: 100%;
  box-sizing: border-box;
}

.main-wrapper.side-enable .window .window-scroll {
  height: 0;
  overflow: hidden;
  position: absolute;
}

.main-wrapper.side-enable .window .window-side {
  pointer-events: all;
  position: relative;
  height: fit-content;
}

.side-return {
  vertical-align: middle;
  color: var(--hyperlink-color);
  border: none;
  background: transparent;
  font-size: var(--general-font-size);
}

.side-title {
  font-size: var(--title-font-size);
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}

.side-box {
  background-color: #ffffff;
  border-radius: var(--menu-border-radius);
  margin: 20px 0;
}

.side-user {
  min-height: 84px;
  position: relative;
  padding: 22px 12px 22px 84px;
  box-sizing: border-box;
}

.side-user-picture {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-color: #e1ccd5;
  border-radius: 50%;
}

.side-user-name {
  font-size: var(--title-font-size);
}

.side-user-nick {
  font-size: var(--menu-a-font-size);
}

.side-category {
  position: relative;
}

.side-category + .side-category::before {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 18px);
  top: 0;
  right: 0;
  background-color: #00000020;
}

.side-category-label {
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  font-weight: 800;
  padding: 20px 26px;
  border-radius: 0;
  font-size: var(--menu-a-font-size);
}

.side-category-label-arrow {
  background-size: cover;
  background-color: #e1ccd5;
  border-radius: 50%;
}

.side-user-name {
  font-size: var(--title-font-size);
}

.side-user-nick {
  font-size: var(--menu-a-font-size);
}

.side-category-label-arrow{
  display: inline-block;
  position: absolute;
  right: 26px;
  top: 23px;
  height: 8px;
  transform: rotate(-90deg);
  opacity: 0.3;
  transition: transform 0.4s;
}

.side-category-open .side-category-label-arrow {
  transform: rotate(180deg);
}

.side-category-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
  padding: 0px 20px;
}

.side-category-content a {
  display: block;
  padding: 12px 26px;
}

.side-category-open .side-category-content {
  max-height: 285px;
}

.side-form {
  display: flex;
  flex-wrap: wrap;
}

.side-form input,
.side-form div {
  /*width: 250px;*/
  width: 100%;
  flex-grow: 1;
}

.side-form .text-box {
  padding: 18px 22px;
  border: none;
  background-color: var(--side-grey-light);
  border-radius: 0;
  margin: 1px 0;
}

.side-form .text-box:focus {
  outline: none;
  background: #00000012;
}

.side-form-buttons {
  padding: 12px 0;
  margin: 0 -5px;
}

.side-form-buttons button {
  width: calc(50% - 10px);
  border-radius: var(--menu-border-radius);
  border: none;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 700;
  margin: 5px;
  background-color: var(--side-grey-light);
}

.side-form-buttons button.side-form-submit {
  background-color: var(--interactive-color);
  color: var(--main-bg-color);
}

.side-form-img-upload {
  padding-top: 18px;
}

.side-form-img-upload input {
  position: absolute;
  opacity: 0;
}

.side-form-img-upload .img-upload-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--side-grey-light);
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  border-radius: 50%;
}

.side-form-img-upload .img-upload-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/camera_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.side-form-switch-wrapper {
  display: inline-block;
  width: 100%;
  padding: 6px 0;
  vertical-align: middle;
  font-size: var(--menu-input-font-size);
}

.side-form-switch-label {
  width: calc(100% - 65px);
  display: inline-block;
}

input[type="checkbox"].side-form-switch {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 65px;
  height: 34px;
  background: var(--side-grey-light);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

input[type="checkbox"].side-form-switch:checked {
  background: var(--interactive-color);
}

input[type="checkbox"].side-form-switch:after {
  position: absolute;
  left: 0;
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--main-bg-color);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

input[type="checkbox"].side-form-switch:checked:after {
  left: calc(100% - 34px);
}

.side-theme-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.side-theme-selector label div {
  width: 16px;
  height: 16px;
  background-color: var(--circle-color);
  border: 4px solid var(--circle-color);
  display: block;
  border-radius: 50%;
  position: relative;
  margin: 5px;
}

.side-theme-selector label input {
  display: none;
}

.side-storage {
  font-size: var(--menu-font-size);
  font-weight: 800;
  color: var(--interactive-color);
  padding: 22px 12px;
}

img.roated-return-icon {
  position: relative;
  display: inline;
  height: 8px;
  padding-top: 10px;
  vertical-align: middle;
  transform: rotate(90deg);
}

img.roated-return-icon svg {
  fill: var(--hyperlink-color);
}

.main-wrapper .menu-wrapper {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: var(--main-spacing);
  margin-bottom: env(safe-area-inset-bottom);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.main-wrapper .menu-wrapper .menu-spacer {
  position: relative;
  width: var(--menu-spacing);
  height: var(--menu-spacing);
}

.main-wrapper .menu-wrapper .menu-formbox {
  overflow: hidden;
  border-radius: var(--menu-border-radius);

  border-left: 1px solid #ffffff99;
  border-top: 1px solid #ffffff99;
  border-right: 1px solid #00000020;
  border-bottom: 1px solid #00000020;

  /*-webkit-backdrop-filter: saturate(6) blur(20px);*/
  /*backdrop-filter: saturate(6) blur(20px);*/
}

.main-wrapper.menu-open .menu-wrapper {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.main-wrapper .menu-wrapper .menu-formbox form {
  display: none;
}

.main-wrapper .menu-wrapper .menu-formbox form.form-visible {
  display: block;
}

.main-wrapper .menu-wrapper .menu-formbox form .file-upload {
  position: relative;
}

.main-wrapper .menu-wrapper .menu-formbox form .file-upload input {
  display: none;
}

.main-wrapper .menu-wrapper .menu-formbox form .file-upload div {
  text-decoration: underline;
  color: var(--hyperlink-color);
  margin: 20px;
  display: block;
  font-size: var(--menu-a-font-size);
}

.main-wrapper .menu-wrapper .menu-formbox input {
  position: relative;
  padding: 30px 20px 10px 20px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #00000050;
  background-color: transparent;
  color: var(--main-fg-color);
  font-size: var(--menu-input-font-size);
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector label div {
  width: 16px;
  height: 16px;
  background-color: var(--circle-color);
  border: 4px solid var(--circle-color);
  display: block;
  border-radius: 50%;
  position: relative;
  margin: 5px;
}

.main-wrapper .menu-wrapper .menu-formbox .color-selector label input {
  display: none;
}

.main-wrapper
  .menu-wrapper
  .menu-formbox
  .color-selector
  label
  input:checked
  ~ div {
  border: 4px solid var(--main-bg-color);
  -webkit-box-shadow: 3px 6px 14px #00000038;
  box-shadow: 3px 6px 14px #00000038;
}

.main-wrapper .menu-wrapper .menu-formbox input:focus {
  outline: none;
  background-color: #0000000f;
}

.main-wrapper .menu-wrapper .menu-formbox a {
  margin: 20px;
  display: block;
  font-size: var(--menu-a-font-size);
}

.main-wrapper .menu-wrapper .menu-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button {
  border-radius: var(--menu-border-radius);

  -webkit-backdrop-filter: saturate(6) blur(20px);
  backdrop-filter: saturate(6) blur(20px);

  border: none;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 700;
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button-submit {
  background-color: var(--interactive-color);
  color: var(--main-bg-color);
}

.main-wrapper .menu-wrapper .menu-button-wrapper .menu-button:focus-visible {
  outline: none;
  -webkit-filter: brightness(0.86);
  filter: brightness(0.86);
}

.main-wrapper .icon-bar-wrapper {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: var(--main-spacing);
  margin-bottom: env(safe-area-inset-bottom);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.main-wrapper.icon-bar-hide .icon-bar-wrapper,
.main-wrapper.menu-open .icon-bar-wrapper {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.main-wrapper .icon-bar-wrapper .icon-bar {
  border-left: 1px solid #ffffff99;
  border-top: 1px solid #ffffff99;
  border-right: 1px solid #00000020;
  border-bottom: 1px solid #00000020;

  position: relative;
  overflow: hidden;
  border-radius: var(--menu-border-radius);

  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-wrapper .icon-bar-wrapper .icon-bar .icon-bar-button {
  position: relative;
  padding: 0 2px;
  margin: 8px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  border-radius: 10px;
  background: #f7f7f7;
  -webkit-box-shadow: inset -1px -1px 2px #00000017, inset 2px 2px 3px #ffffff6b,
    3px 5px 12px #00000026;
  box-shadow: inset -1px -1px 2px #00000017, inset 2px 2px 3px #ffffff6b,
    3px 5px 12px #00000026;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.main-wrapper .icon-bar-wrapper .icon-bar .icon-bar-button svg {
  position: relative;
  width: 100%;
  height: 100%;
}
